.el-scrollbar__wrap{
	overflow-x: hidden;
}
.el-scrollbar__bar.is-horizontal {
	display: none;
}

html,body
{
  width:100%;
  height:100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
}
#app
{
  width: 100%;
  height: 100%;
  display: flex;
  /* padding-top: 10vh; */
  padding-left: 5%;
  /* background: #7F7FD5;   */
  /* background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);   */
  /* background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);  */
  /* background-image:linear-gradient(102.7deg,#fddaff 8.2%,#dfadfc 19.6%,#adcdfc 36.8%,#adfcf4 73.2%,#caf8d0 90.9%); */
  background-image:linear-gradient(120deg,#e0c3fc 0%,#adfcf4 73.2%, #8ec5fc 100%);
  /* #caf8d0 90.9%, */
}
.whole_box
{
  width:80%;
  height: 100%;
  /* min-height: 80%; */
  position: relative;

  /* border-radius: 20px; */
}
.box_nav
{
  /* border-radius: 20px; */
  width: max(5vw,5vh);
  height: max(25vh,16vw);
  margin-left: 2vw;
  position: relative;
  background-color: white;
  text-align: center;
  /* padding-top: 2vh; */
  display: flex;
  /* padding-bottom: 2vh; */
}
.button_nav
{
  position: relative;
  width: max(5vh,3vw);
  height: max(5vh,3vw);
  text-align: center;
  justify-content: center;
  padding: 0;
  margin-top: 1vh;
}
.box_left
{
  position: relative;
  width:30%;
  height:100%;
  min-width:120px;
  padding-top:10%;
  justify-content: center;
  text-align:center;
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box_right
{
  position: relative;
  width:100%;
  height:100%;
  /* overflow-y: scroll; */
}

.show_home
{
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: max(3vw,3vh);
  font-weight: bold;
}
.show_profile
{
  position: relative;
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  /* padding: 10%; */
}
.show_exp
{
  position: relative;
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  /* padding: 10%; */
}
.profile_edu,.profile_reward,.profile_skill,.profile_work,.profile_social
{
  margin-top:2vh;
  width: 100%;
  font-family: "Comic Sans MS";
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  color: transparent;
}
.profile_header
{
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  color: transparent;
  /* margin-bottom: 5px; */
}
.show_contact
{
  position: relative;
  height: 100%;
  width:80%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  /* padding: 10%; */
}
.show_box
{
  position: relative;
  width: 100%;
  height: 100%;
}
.myimg
{
  position: relative;
  width: 100%;
  height: 100%;
}
.box_left p
{
  color:white;
  font-family: "Helvetica Neue";
}
.box_name
{
  position: relative;
  font-weight:bold;
  font-size: 30px;
}
.contact
{
  background: none;
  color:white;
  border: 2px white solid;
}
.show_profile,.show_exp,.show_contact
{
  padding: 10%;
  padding-top:8vh;
  padding-bottom:8vh;
  min-height: 64vh;
}
.box_right .el-card
{
  border: none;
}
.show_home
{
  min-height:80vh;
}